body {
    font-family: 'Nunito', sans-serif;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}


h1 {
    color: #F282A7; 
    text-align: center;
    background-color: #ffeff5; 
    padding: 20px;
    border-bottom: 5px solid #F282A7; 
    border-radius: 10px;
    margin: 0;
    font-size: 2.5em; 
}

p {
    text-align: left;
    padding: 10px 20px;
    margin: 10px;
    background-color: lightblue;
    border: 1px solid #ddd;
    border-radius: 8px;
}
p2 {
    text-align: center;
    padding: 10px 20px;
    margin: 20px;
    background-color: lightviolet;
    border: 1px solid #ddd;
    border-radius: 8px;
}

img {
    border-radius: 15px; 
    display: block;
    margin: 20px auto;
    height: 300px;
    width: auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

header {
    background-color: #ff66b2; 
    color: white;
    text-align: center;
    padding: 20px;
    border-bottom: 4px solid #f9f9f9; 
}

footer {
    text-align: center;
    padding: 1px;
    background-color: #ff66b2; 
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 2px solid #f9f9f9; 
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #ffb3c1; 
}


main {
    padding: 20px;
    text-align: center;
}

header, footer {
    border-radius: 0 0 10px 10px; 
}
